<!DOCTYPE html>
<html>
<body>

<h2>Adicionar campo</h2>

<form id="campoForm">
  <label for="nome">Nome:</label><br>
  <input type="text" id="nome" name="nome"><br>
  <input type="submit" value="Submit">
  <ul id="listaCampos"></ul>
</form>

<script>
  // Funções
  function criarElementoCampo(campo) {
    var li = document.createElement('li');
    li.textContent = campo.nome;
    
    var btnExcluir = document.createElement('button');
    btnExcluir.textContent = 'Excluir';
    btnExcluir.addEventListener('click', function() {
      event.stopPropagation();
      event.preventDefault();
      excluirCampo(campo.id, li);
    });
    
    li.appendChild(btnExcluir);
    return li;
  }

  function atualizarCampos() {
    fetch('/campos')
      .then(response => response.json())
      .then(campos => {
        var listaCampos = document.getElementById('listaCampos');
        listaCampos.innerHTML = '';

        campos.campo.forEach(function(campo) {
          var elementoCampo = criarElementoCampo(campo);
          listaCampos.appendChild(elementoCampo);
        });
      })
      .catch(error => {
        console.error('Erro ao obter campos:', error);
      });
  }

  function excluirCampo(id, li) {
    fetch('/campos/' + id, {
      method: 'DELETE',
    })
    .then(response => {
      if (response.ok) {
        li.remove();
        atualizarCampos();
      } else {
        console.error('Erro ao excluir campo');
      }
    })
    .catch(error => {
      console.error('Erro:', error);
    });
  }

  function adicionarCampo(event) {
    event.preventDefault();

    var nome = document.getElementById("nome").value;

    fetch('/campos', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({nome: nome}),
    })
    .then(response => response.json())
    .then(data => {
      console.log('Sucesso:', data);
      atualizarCampos();
    })
    .catch((error) => {
      console.error('Erro ao enviar dados:', error);
    });
  }

  // Eventos
  document.getElementById("campoForm").addEventListener("submit", adicionarCampo);
  window.onload = atualizarCampos;
</script>

</body>
</html>