<!DOCTYPE html>
<html>
<body>

<h2>Adicionar campo</h2>

<form id="campoForm">
  <label for="nome">Nome:</label><br>
  <input type="text" id="nome" name="nome"><br>
  <input type="submit" value="Submit">
  <ul id="listaCampos"></ul>
</form>

<script>
  document.getElementById("campoForm").addEventListener("submit", function(event){
    event.preventDefault();

    var nome = document.getElementById("nome").value;

    fetch('/campos', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({nome: nome}),
    })
    .then(response => response.json())
    .then(data => {
      console.log('Sucesso:', data);
      atualizarCampos();  // Atualiza a lista de campos
    })
    .catch((error) => {
      console.error('Erro ao enviar dados:', error);
    });
  });

  function criarElementoCampo(campo) {
    var li = document.createElement('li');
    li.textContent = campo.nome;
    
    // Botão de exclusão
    var btnExcluir = document.createElement('button');
    btnExcluir.textContent = 'Excluir';
    btnExcluir.onclick = function() {
      // Enviar solicitação para deletar o campo correspondente
      fetch('/campos/' + campo.id, {
        method: 'DELETE',
      })
      .then(response => {
        if (response.ok) {
          // Atualizar a lista de campos após a exclusão bem-sucedida
          atualizarCampos();
        } else {
          console.error('Erro ao excluir campo');
        }
      })
      .catch(error => {
        console.error('Erro:', error);
      });
    };
    
    li.appendChild(btnExcluir);
    return li;
  }
  
  function atualizarCampos() {
    // Busca os campos do servidor
    fetch('/campos')
      .then(response => response.json())
      .then(campos => {
        // Limpa a lista de campos
        var listaCampos = document.getElementById('listaCampos');
        listaCampos.innerHTML = '';

        // Adiciona cada campo à lista
        campos.campo.forEach(function(campo) {
          var elementoCampo = criarElementoCampo(campo);
          listaCampos.appendChild(elementoCampo);
        });
      })
      .catch(error => {
        console.error('Erro ao obter campos:', error);
      });
  }
  
  // Chama a função atualizarCampos quando a página é carregada
  window.onload = atualizarCampos;
</script>

</body>
</html>