<!DOCTYPE html>
<html>
<body>

<h2>Adicionar campo</h2>

<form id="campoForm">
  <label for="nome">Nome:</label><br>
  <input type="text" id="nome" name="nome"><br>
  <input type="submit" value="Submit">
  <ul id="listaCampos"></ul>
</form>

<script>
  // Função para criar os elementos HTML para cada campo na lista
  function criarElementoCampo(campo) {
    var li = document.createElement('li');
    li.textContent = campo.nome;
    
    // Botão de exclusão
    var btnExcluir = document.createElement('button');
    btnExcluir.textContent = 'Excluir';
    btnExcluir.onclick = function() {
      // Enviar solicitação para deletar o campo correspondente
      fetch('/campos/' + campo.id, {
        method: 'DELETE',
      })
      .then(response => {
        if (response.ok) {
          // Atualizar a lista de campos após a exclusão bem-sucedida
          atualizarCampos();
        } else {
          console.error('Erro ao excluir campo');
        }
      })
      .catch(error => {
        console.error('Erro:', error);
      });
    };
    
    li.appendChild(btnExcluir);
    return li;
  }

  // Função para atualizar a lista de campos
  function atualizarCampos() {
    fetch('/campos')
      .then(response => response.json())
      .then(campos => {
        var listaCampos = document.getElementById('listaCampos');
        listaCampos.innerHTML = '';

        campos.campo.forEach(function(campo) {
          var elementoCampo = criarElementoCampo(campo);
          listaCampos.appendChild(elementoCampo);
        });
      })
      .catch(error => {
        console.error('Erro:', error);
      });
  }

  // Chamar a função para atualizar a lista de campos quando a página é carregada
  window.onload = atualizarCampos;
</script>

</body>
</html>